<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://fonts.googleapis.com/css?family=Open Sans' rel='stylesheet'>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='style.css') }}">
    <title>Sentiment Based Product Recommendation System</title>
  </head>
  <body>
    <div class="body-container">
      <div class="center-container">
        <div class="header-container">
          <h1>SENTIMENT BASED</h1>
          <h1>PRODUCT RECOMMENDATION SYSTEM</h1>
        </div>
        <div class="form-container">
          <form id="username-form">
            <input name="username" placeholder="Enter Username" type="text" value="00sab00" /><br />
            <button type="submit" class="btn">Submit</button>
          </form>
        </div>
        <div id="loading" class="loading">
          <div class="dot-flashing"></div>
        </div>
        <div id="error-container" class="error-container hide-error-container"></div>
        <div id="products-container" class="products-container">
          <h2>Top 5 Products</h2>
          <ul id="product-list" class="product-list"></ul>
        </div>
      </div>
    </div>
    <script>
      const formEl = document.getElementById('username-form');
      const loadingEl = document.getElementById("loading");
      const errorContainerEl = document.getElementById("error-container");
      const productsContainerEl = document.getElementById("products-container");
      const productListUl = document.getElementById("product-list");

      function resetProducts() {
        productsContainerEl.style.display = "none"
        productListUl.innerHTML=""
      }

      function showLoadingDocuments() {
        loadingEl.style.display = "flex"
        resetProducts();
      }

      function hideLoadingDocuments() {
        loadingEl.style.display = "none"
      }

      function hideErrorContainer() {
        errorContainerEl.classList.add('hide-error-container')
        errorContainerEl.classList.remove('show-error-container')
      }

      function showErrorContainer(errorMessage) {
        errorContainerEl.innerText = errorMessage;
        errorContainerEl.classList.remove('hide-error-container')
        errorContainerEl.classList.add('show-error-container')
      }

      function showProducts(products) {
        productsContainerEl.style.display = "block"

        products.forEach((product) => {
          const li = document.createElement("li");
          li.appendChild(document.createTextNode(product))
          productListUl.appendChild(li)
        })
      }

      function handleFormSubmit(e) {
        e.preventDefault()
        try {
          const username = formEl.elements.username.value;
          console.log('username ', username)
  
          showLoadingDocuments();
          hideErrorContainer()
  
          fetch(`/get-recommendations/${username}`)
            .then(function(response) {
              console.log('response', response)
              return response.json();
            })
            .then(function(json) {
              // check for error
              if (json.error) throw new Error(json.error)
              return json;
            })
            .then(function(json) {
              console.log('json ', json)
              hideLoadingDocuments();
              showProducts(json.products);
            })
            .catch(function(e) {
              hideLoadingDocuments();
              const errorMsg = e.message
              console.log('e ', errorMsg);
              showErrorContainer(errorMsg)
            })
        } catch (e) {
          console.warn('Error ', e.message)
        }
      }

      formEl.addEventListener('submit', handleFormSubmit)
    </script>
  </body>
</html>